#icons-container {
    font-size: 5em;
    gap: 100px;
    display: flex;
    transition: 1s all;
    border: 1px solid black;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: transparent;
    background: linear-gradient(90deg, red, blue);
    background-clip: border-box;
    -webkit-background-clip: text;
}

.hamburger span{
    display: flex;
    width: 33px;
    height: 3px;
    background: black;
}

.hamburger span:not(:last-child) {
    margin-bottom: 8px;
}